[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git@github.com:opscode-cookbooks/openssl.git
