[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git@github.com:opscode-cookbooks/apt.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = git@github.com:WhyEee/chef-rbenv.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = git@github.com:kewubenduben/chef-ruby_build.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = https://github.com/opscode-cookbooks/nginx
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = https://github.com/hw-cookbooks/postgresql
[submodule "cookbooks/bluepill"]
	path = cookbooks/bluepill
	url = git@github.com:opscode-cookbooks/bluepill.git
[submodule "cookbooks/rsyslog"]
	path = cookbooks/rsyslog
	url = git@github.com:opscode-cookbooks/rsyslog.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = git@github.com:opscode-cookbooks/ohai.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = git@github.com:hw-cookbooks/runit.git
